body {
margin: 0;
background: #ddd;
font: normal 14px "Droid Sans", "DejaVu Sans", Arial, sans-serif;
}

#reload {
background: linear-gradient(#f0f0f0, #ddd);
}

#back {
display: none;
}

.btn_cont {
height: 50px;
padding-top: 10px;
text-align: center;
}

.btn {
width: 200px;
height: 40px;
padding: 5px;
border: none;
border-radius: 5px;
background: linear-gradient(#4c0c60, #200626);
color: #eee;
font-weight: bold;
font-size: 120%;
}

.btn:active {
background: linear-gradient(#200626, #4c0c60);
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.lh, .le {
padding: .4em;
}

.lh {
display: block;
background: linear-gradient(#4c0c60, #200626);
color: #eee;
font-weight: bold;
}

.le {
background: #f0f0f0;
color: #222;
}

.le:nth-child(even) {
background: #ddd;
}

.route_name {
position: relative;
top: -.1em;
float: left;
width: 3em;
margin-right: .5em;
padding: .1em;
border-radius: 3px;
text-align: center;
font-weight: bold;
}

.predicted_time {
font-weight: bold;
}
